:root {
  --font-poriet-one: "Poiret One", cursive;
  --font-spartan: "Spartan", sans-serif;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: var(--font-spartan);
}
main {
  min-height: 95vh;
}
li {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.h1 {
  text-transform: capitalize;
  width: fit-content;
  margin: auto;
  padding-top: 2rem;
  border-bottom: 1px solid black;
  text-align: center;
  color: black;
  font-family: var(--font-poriet-one);
}

.h2 {
  margin-top: 3rem;
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-family: var(--font-spartan);
  font-size: 1.5rem;
}

footer {
  /* margin-top: 3rem; */
  text-align: center;
  height: 3rem;
  display: block;
  color: white;
  background-color: black;
  position: relative;
  font-family: var(--font-poriet-one);
}

footer p {
  padding-top: 0.7rem;
}

.ui.segment {
  margin: 0;
  box-shadow: none;
  border: none;
  padding: 0;
  border-radius: 0;
  min-height: 95vh;
}

.ui.labeled.icon.menu .item {
  font-family: var(--font-spartan);
  text-transform: capitalize;
}

.ui.grid > .column:not(.row) {
  padding: 0;
}
